body {
    background-color: #9eb27c;
}

h1, h3 {
    text-align: center;
}

h1 {
    color: #0D313D;
}

h2 {
    font-size: xx-large;
}

h3 {
    font-size: x-large;
}

.wrapper {
    height: 80vh;
    width: 90vw;
    margin: 0 5vw 5vh 5vw;
    position: relative;
    -webkit-user-drag: none;
    user-select: none;
}

.main-content {
    overflow: hidden;
    display: inline-block;
}


