h1, h3 {
    text-align: center;
}

.stats {
    padding: 1vh 1vw;
}

.brain-container {
    margin-top: 1vh;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 20vw;
    height: 70vh;
    float: left;
}

.buildings {
    margin: 1vh 1vw;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 30vw;
    height: 70vh;
    float: left;
}

.sidebar-right {
    float: left;
}