.statistics-header {
    background-color: darkseagreen;
    border: #497174 0.2vw solid;
    border-radius: 5px;

    padding-top: 1vh;
    padding-bottom: 1vh;
    position: relative;
    z-index: 0;
    color: #315154
}

.statistics-header>div {
    background-color: #839a59;
    height: 100%;
    position: absolute;
    top: 0;
    left: -0.02vw;
    z-index: -1;
    border-radius: 5px;
}

.stats {
    display: inline-block;
    white-space: nowrap;
    padding-left: 20vw;
    width: 18vw;
    text-align: left;
}

.brain-container {
    background-color: white;
    margin-top: 1vh;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 20vw;
    height: 70vh;
    float: left;
}

.buildings {
    background-color: white;
    margin: 1vh 1vw;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 36vw;
    height: 70vh;
    float: left;
    padding: 0;
}

.buildings .shopping-list {
    height: 59vh;
}

.sidebar-right {
    float: left;
}

.shopping-list {
    overflow-y: auto;
    overflow-x: hidden;
}

.shopping-list::-webkit-scrollbar {
  width: 1vw;
}

.shopping-list::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.shopping-list::-webkit-scrollbar-thumb {
  background-color: #add2a7;
  border-radius: 100px;
}