.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 10%;
    left: 71%;
    opacity: 0;
    transition: opacity 0.3s;
}

.building-info:hover .tooltiptext, .item-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.message-box {
    background-color: white;
    position: absolute;
    top: 50%;
    left:50%;
    border: black 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 2vh;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%,-50%);
}

