.container {
    display: inline-block;
    padding: 5px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}

.tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;
    opacity: 0;
    transition: opacity 0.3s;
}

.building-info .tooltiptext::after, .item-container .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.building-info:hover .tooltiptext, .item-container:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

@keyframes fadeIn {
 from {
   opacity: 0;
 }
 to {
   opacity: 1;
 }}

.message-box {
    background-color: white;
    position: absolute;
    top: 50%;
    left:50%;
    border: black 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    margin: auto;
    padding: 2vh;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translate(-50%,-50%);
}

.brainResize {
    width: 50%;
    transform:translate(0) scale(1.2);
}
.brainAnimation {
    animation: brainAnimation 0.05s;
}

@keyframes brainAnimation {
 from {
   transform:translate(0) scale(1.2);
 }
 to {
   transform:translate(0) scale(1.1);
 }}