.brain-stats {
    bottom: 10px;
    margin-top: 12vh;
}

.brain {
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    margin: 2vh 2vw;
    cursor: pointer;
    background-position:center;
    background-color: darkseagreen;
}

.brain-image {
    width: 50%;
    margin: 4vh 1vw;
    -webkit-user-drag: none;
    user-select: none;
}

.brains-counter {
    font-weight: bold;
    font-size: larger;
}

.brainResize {
    width: 50%;
    transform:translate(0) scale(1.2);
}
.brainAnimation {
    animation: brainAnimation 0.05s;
}

@keyframes brainAnimation {
 from {
   transform:translate(0) scale(1.2);
 }
 to {
   transform:translate(0) scale(1.1);
 }}