.building-info {
    margin: 1vh auto;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    width: 95%;
    height: 10vh;
    position: relative;
    background-color: #9eb27c;
    color: #2C3D2C
}

.building-info:hover {
    width: 96%;
    height: 10.3vh;
    cursor: pointer;
    background-color: #becea6;
    color: #3E563E;
}

.building-info:hover .buy {
    font-size: 3.5vh;
    margin-top: 0;
    margin-left: 2vw;
}

.buy {
    float: left;
    font-size: 3vh;
    margin-left: 1vw;
    margin-top: 0.4vh;
}

.building-name-and-price {
    float: left;
    height: 9.4vh;
    width: 17vw;
    margin-left: 4vw;
    text-align: center;
}

.building-info:hover .building-name-and-price {
    width: 15vw;
}

.building-info:hover .building-name {
    width: 15vw;
}

.building-info:hover .price {
    width: 15vw;
}

.building-name {
    text-align: center;
    float: left;
    margin: 1.8vh auto;
    width: 17vw;
    font-size: 3.3vh;
}

.price {
    font-size: 2vh;
    margin: 0 auto 1vh auto;
    position: absolute;
    bottom: 0;
    width: 17vw;
}

.buy-icon {
    height: 1em;
}

.buildings-amount {
    text-align: center;
    font-weight: bolder;
    float: right;
    height: 9.4vh;
    padding-top: 3.3vh;
    width: 9vw;
    font-size: 3.7vh;
}

.buildings-amount-init {
    text-align: center;
    font-weight: bolder;
    float: right;
    height: 9.4vh;
    width: 9vw;
    font-size: 3.7vh;
}

