.shop {
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 30vw;
    height: 35vh;
    position: relative;
    overflow-y: auto;
}

.shop-list {
    height: 70%;
    /*overflow-y: auto;*/
}

.item-container {
    margin: 1vh auto;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    width: 95%;
    height: 10vh;
    position: relative;
    background-color: #9eb27c;
    color: #2C3D2C
}

.item-name-and-price {
    display: inline-block;
    float: left;
    height: 9.4vh;
    width: 12.5vw;
    margin-left: 4vw;
}

.item-name {
    text-align: center;
    float: left;
    margin: 1.8vh auto;
    width: 12.5vw;
    font-size: 3.3vh;
}

.item-price {
    font-size: 2vh;
    margin: 0 auto 1vh auto;
    position: absolute;
    bottom: 0;
    width: 12.5vw;
}


.buy-item {
    float: left;
    text-align: center;
    padding-top: 3vh;
    font-size: 3vh;
    margin-left: 1vw;
    margin-top: 0.5vh;
    height:7vh;
}

.item-container:hover {
    height: 10.3vh;
    float: inside;
    cursor: pointer;
    width: 96%;
    background-color: #becea6;
    color: #3E563E;
}

.item-container:hover .buy-item {
    font-size: 3.5vh;
    margin-top: 0.2vh;
    margin-left: 2vw;
}

.item-container:hover .item-name-and-price {
    width: 10.5vw;
}

.item-container:hover .item-name {
    width: 10.5vw;
}

.item-container:hover .item-price {
    width: 10.5vw;
}

.inventory {
    background-color: white;
    margin: 1vh 0;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 30vw;
    height: 32vh;
    position: relative;
}



