.shop {
    background-color: white;
    margin-top: 1vh;
    margin-bottom: 2vh;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 30vw;
    height: 35vh;
    position: relative;
}

.shop .shopping-list {
    height: 23vh;
}

.item-container {
    margin: 1vh auto;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    width: 92%;
    height: 10vh;
    position: relative;
    background-color: #9eb27c;
    color: #2C3D2C
}

.item-name-and-price {
    float: left;
    height: 9.4vh;
    width: 13vw;
    margin-left: 4vw;
}

.item-name {
    text-align: center;
    float: left;
    margin: 1.8vh auto;
    width: 13vw;
    font-size: 2.1vh;
}

.item-price {
    font-size: 2vh;
    margin: 0 auto 1vh auto;
    position: absolute;
    bottom: 0;
    width: 13vw;
}


.buy-item {
    float: left;
    text-align: center;
    padding-top: 3.3vh;
    font-size: 2.5vh;
    margin-left: 1vw;
    margin-top: 0.5vh;
    height:7vh;
}

.item-container:hover {
    height: 10.3vh;
    float: inside;
    cursor: pointer;
    width: 95%;
    background-color: #becea6;
    color: #3E563E;
}

.item-container:hover .buy-item {
    margin-top: 0.5vh;
    margin-left: 1vw;
}

.item-container:hover .item-name-and-price {
    width: 12vw;
    margin-left: 1vw;
}

.item-container:hover .item-name {
    width: 12vw;
    font-size: 2vh;

}

.item-container:hover .item-price {
    width: 12vw;
}

.inventory {
    background-color: white;
    margin: 1vh 0;
    border: #497174 0.2vw solid;
    border-radius: 5px;
    text-align: center;
    width: 30vw;
    height: 32vh;
    position: relative;
    z-index: 0;

}

.inventory .shopping-list {
    height: 21vh;

}



